---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SEOMetadata } from 'astro-seo-metadata';


export interface Props {
  title?: string;
}

const { title = 'Chatapp' } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap'
      rel='stylesheet'
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <SEOMetadata
    siteName={'AC ChatApp'}
    description={'Introducing ChatApp V2: The Next Generation of Chatting ChatApp V2 is the upgraded version of KSChat, a chat application that offers a variety of features for users to enjoy. With ChatApp V2, users can easily create an account, log in and out, view their own and other users profiles.'}
    image={'http://example.com/the_image_url-preferably_absolute.jpg'}
    favicon={'/favicon.svg'}
    author="Alex Cloudstar"
    copyright="MIT>"
    astroSitemap={true}
    canonicalUrl={Astro.url.href}
    type={'website'}
    astroGenerator={true}
  />


    <title>{title}</title>
  </head>
  <body>
    <Header/>
    <main>
      <slot />
    </main>
    <Footer/>
  </body>


</html>
<style is:global>
  :root {
    --colorPrimary: #596787;
    --colorSecondary: rgb(59 130 246 / 1);
    --colorTertiary: #3B454D;
    --fontPrimary: 'Poppins', sans-serif;
    --fontSecondary: 'Roboto', sans-serif;
  }


  *,html,body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }

  html {
    font-family: var(--fontPrimary)
    background-color: #f6f6f6;
  }

  a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    background: inherit;
  }

  img {
      max-width: 100%;
  }

  @media(max-width: 768px) {
    html {
      font-size: 14px;
    }


  }
</style>

<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js" />
  <script is:inline>
    AOS.init();
  </script>